body {
	background-color: #241D2B;
	margin: 0;
}

#select{
	margin-left:25px;
	color: white;
}

.selectDivId {
	display: none;
	padding-left:25px;
	background-color: red;
}

.selectDivImage {
	grid-column: 1;
	grid-row: 2;
	width: auto;
	max-width: 100%;
	margin: 10px;
	max-height: 80%;
	margin-left: auto;
	margin-right: auto;
}

.selectDivAuteur {
	grid-column: 2 / 5;
	grid-row: 1;
	padding-left: 10px;
}

.selectDivGenre {
	grid-column: 2 / 5;
	grid-row: 3;
	padding-left: 10px;
}

.selectDivTitre {
	padding-top: 20px;
	text-align: center;
	grid-column: 2 / 5;
	grid-row: 1;
	padding-left: 10px;
}

.selectDivAnnee {
	grid-column: 2 / 5;
	grid-row: 4;
	padding-left: 10px;
}

.divMusique {
	height: 100px;
	background-color: grey;
	margin-top: 3px;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows:20% 80%;
	margin-left:30px;
	margin-right:30px;
	color:black;
}

.divMusique:hover {
	background-color: #DDD7D7;
}

.divId {
	grid-column: 1;
	height: 50%;
	width: auto;
	max-width: 100%;
	margin: 10px;

}

.divImage {
	grid-column: 1;
	grid-row: 2;
	height: 100%;
	width: auto;
	max-width: 100%;
	margin: 10px;
}

.divTitre {
	padding-top: 20px;
	text-align: center;
	grid-column: 2;
	grid-row: 2;
}

.divAuteur {
	padding-top: 20px;
	text-align: center;
	grid-column: 3;
	grid-row: 2;

}

.divGenre {
	padding-top: 20px;
	text-align: center;
	grid-column: 4;
	grid-row: 2;
}

.divAnnee {
	padding-top: 20px;
	text-align: center;
	grid-column: 5;
	grid-row: 2;
}

#fond, #fond2 {
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#form{
	background-color: grey;
	grid-column: 2;
	grid-row: 2;
}
#form2 {
	background-color: #653434;
	grid-column: 2;
	grid-row: 2;
}

#fermer{
	float: right;
	height: 20px;
}

.supprimer{
	margin: 5px;
	grid-column: 4 / 5;
	grid-row: 4;
}

.modifier{
	margin: 5px;
	grid-column: 4 / 5;
	grid-row: 3;
}

#formId2, #formLId2 {
	display: none;
}

h1 {
	color: white;
}

#musiques {
	background-color: #241D2B;
}

#containHead{
	display: grid;
	grid-template-columns: 28% 22% 22% 28%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

#connexDeco{
	grid-column: 4;
	grid-row: 1;
	margin-left:10px;
	margin-right:25px;
}

#logform{
	display:flex;
	grid-column: 2;
	grid-row: 1;
}

#email{
	width:33%;
}

#password{
	width:33%;
}

#submit{
	width:33%;
	background-color: #81A4BF;
}

#logout{
	grid-column: 4;
	grid-row: 2;
	margin-left:10px;
}

#submitde{
	background-color: #BF8181;
}

#h1menu {
	font-size:29px;
	grid-column: 2/4;
	grid-row: 2;
	text-align: center;
	border-radius: 100px;
	background-color: #C1BEBE;
}

#btnListe{
	margin-top:15px;
	grid-column: 2;
	grid-row: 3;
	width:100%;
	background-color: #718565;
}

#btnAjout{
	margin-top:15px;
	grid-column: 3;
	grid-row: 3;
	background-color: #718565;
}

#menuDoc{
	margin-top:15px;
	display:flex;
	grid-column: 2/4;
	grid-row: 5;
}

#menuFiltre{
	display:flex;
	grid-column: 2/4;
	grid-row: 4;
	height:20px;
}

#filtre{
	width:50%;
}
#trier{
	width:50%;
}

#btnDoc{
	margin-left:auto;
	margin-right:auto;
	background-color: #718565;
}

#ajmus {
	grid-column: 2;
}

#container1{
	grid-column: 2;
	grid-row: 3;
}

#fileupload{
	grid-column: 2;
	grid-row: 3;
}

#buttonUser{
	background-color: #8cb589;
}

#buttonAdmin{
	background-color: #8cb589;
}

#fondformu{
	display: none;
	position: absolute;
	top: 0;
    background-color: rgba(255, 255, 255, 0.15);
	width: 100%;
	height: 100%;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 10% 60% 30%;
}

/*container du popup*/
.popup {
	grid-column: 4;
	grid-row: 5;
/*	margin-left:10px;*/
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/*le popup en lui même*/
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: grey;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
	text-align: left;
}

/*affiche et cache le popup quand cliqué*/
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1.3s
}

/* ajoute un fade au popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#affichCrea{
	margin-left:10px;
	margin-right:30px;
	text-align: center;
	background-color: grey;
}

#check{
	grid-column:1;
	grid-row: 4;
}

@media only screen and (max-width: 1000px) {

	#containHead{
		display: grid;
		grid-template-columns: 33% 34% 33%;
		grid-template-rows: 20% 20% 20% 20% 20%;
	}

	#h1menu {
		font-size:20px;
		grid-column: 2/4;
		grid-row: 2;
		text-align: center;
		border-radius: 100px;
		margin-right:25px;
	}

	#btnListe{
		margin-top:15px;
		grid-column: 2;
		grid-row: 3;
		width:100%;
	}

	#btnAjout{
		margin-top:15px;
		grid-column: 3;
		grid-row: 3;
		margin-right:25px;
	}

	#menuDoc{
		margin-top:15px;
		display:flex;
		grid-column: 3;
		grid-row: 5;
	}

	#menuFiltre{
		display:flex;
		grid-column: 2/4;
		grid-row: 4;
		height:20px;
		margin-right:25px;
	}

	#connexDeco{
		grid-column: 1;
		grid-row: 1;
		margin-right:10px;
		margin-left:25px;
	}

	#logout{
		grid-column: 1;
		grid-row: 2;
		margin-left:25px;
	}

	/*container du popup*/
	.popup {
		grid-column: 1;
		grid-row: 5;
	/*	margin-left:10px;*/
	  position: relative;
	  display: inline-block;
	  cursor: pointer;
	}

	/*le popup en lui même*/
	.popup .popuptext {
	  visibility: hidden;
	  width: 100%;
	  background-color: #555;
	  color: grey;
	  border-radius: 6px;
	  padding: 8px 8px;
	  position: absolute;
	  z-index: 1;
		text-align: left;
	  /*bottom: 125%;
	  left: 50%;
	  margin-left: -80px;*/
	}

	/*affiche et cache le popup quand cliqué*/
	.popup .show {
	  visibility: visible;
	  -webkit-animation: fadeIn 1s;
	  animation: fadeIn 1.3s
	}

	/* ajoute un fade au popup */
	@-webkit-keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity: 1;}
	}

	@keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity:1 ;}
	}

	#affichCrea{
		margin-left:25px;
		margin-left:30px;
		text-align: center;
		background-color: grey;
	}
}

@media only screen and (max-width: 700px) {

	#containHead{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 20% 20% 20% 20% 20%;
	}

	#connexDeco{
		grid-column: 1/3;
		grid-row: 1;
		margin:0px;
	}

	#logout{
		grid-column: 2;
		grid-row: 2;
		margin:auto;
	}

	#h1menu {
		font-size:15px;
		grid-column: 1;
		grid-row: 2;
		text-align: center;
		border-radius: 100px;
		margin-right:0px;
	}

	#btnListe{
		margin-top:15px;
		grid-column: 1;
		grid-row: 3;
		width:100%;
	}

	#btnAjout{
		margin-top:15px;
		grid-column: 2;
		grid-row: 3;
		margin-right:0px;
	}

	#menuDoc{
		display:flex;
		grid-column: 2;
		grid-row: 5;
	}

	#menuFiltre{
		display:flex;
		grid-column: 1/3;
		grid-row: 4;
		height:20px;
		margin-right:0px;
	}

	/*container du popup*/
	.popup {
		grid-column: 1/3;
		grid-row: 5;
	/*	margin-left:10px;*/
		position: relative;
		display: inline-block;
		cursor: pointer;
	}

	/*le popup en lui même*/
	.popup .popuptext {
		visibility: hidden;
		width: 100%;
		background-color: #555;
		color: grey;
		border-radius: 6px;
		padding: 8px 8px;
		position: absolute;
		z-index: 1;
		text-align: left;
		/*bottom: 125%;
		left: 50%;
		margin-left: -80px;*/
	}

	/*affiche et cache le popup quand cliqué*/
	.popup .show {
		visibility: visible;
		-webkit-animation: fadeIn 1s;
		animation: fadeIn 1.3s
	}

	/* ajoute un fade au popup */
	@-webkit-keyframes fadeIn {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	@keyframes fadeIn {
		from {opacity: 0;}
		to {opacity:1 ;}
	}

	#affichCrea{
		text-align: center;
		background-color: grey;
	}
}
